 <%= link_to "Back", "/", class: "Owner-back" %>
 <h1 class= "Menu-ListTitle">Sign In!</h1><br><br>


<center>

<%= form_with url: new_sessions_path do |form| %>
<table>
    <tr style="height:40px;"><td>Email</td><td> <%= form.email_field :email, class: "Form_input", autofocus: true %></td></tr>
     <tr style="height:40px;"><td>Password</td><td>  <%= form.password_field :password, class: "Form_input" %></td></tr>
     <tr style="height:40px;"><td>&nbsp;</td><td>  <%= form.submit "Sign-in!", class: "Form-submit" %></td></tr>
</table>
<% end %>
<center>
