
<%= link_to "Owner Home", "/sessions/owner", class: "Owner-menu" %>
<%= link_to "Create Menu", "/menu", class: "Owner-menu" %>
<%= link_to "Display Menu", "/menu/show", class: "Owner-menu" %>
<%= link_to "Pending Orders", "/owner/show", class: "Owner-menu" %>
 <%= link_to "Sign Out!", "/", class: "Owner-menu-title" %>
<h1 class = "Owner-menu"> Welcome to Owner's page
</h1>
