<article>
          <%= link_to "Back", "/sessions/owner", class: "Owner-back" %>
          <h1 class = "Menu-home"> Add Menu Item </h1>
          <h2 class ="Menu-section"> Select Menu Category </h2>
          <%= form_with(url: "/menu", method: "post") do %>
                <ul>
                    <% MenuCategory.all.each do |menuCat| %>
                    <li style="list-style-type:none;" class = "Owner-menu-title">
                      <%= radio_button_tag "category", menuCat.name %>
                      <%= menuCat.name %>
                    </li>
                    <% end %>
                </ul>

                <h2 class ="Menu-section"> Enter Menu Details </h2>
                <article class = "Owner-menu-title">
                  Menu Item:
                  <%= text_field_tag "name", nil, placeholder: "Add Name of Menu", autofocus: true %>
                </article>
                <article class = "Owner-menu-title">
                   Description:
                  <%= text_field_tag "description", nil, placeholder: "Add Description" %>
                </article>
                <article class = "Owner-menu-title">
                    Price:
                    <%= number_field_tag "price", nil, placeholder: "Add Price" %>
                </article>
                <article>
                    <%= button_tag "Add Menu", class: "Cafe-button" %>
                </article>
          <% end %>
</article>
