
<article>
      <section>
        <h5>Add Menu Item </h5>
            <%= form_with(url: "/owner", method: "post") do %>
                <ul>
                    <% MenuCategory.all.each do |menuCat| %>
                    <li style="list-style-type:none;">
                      <%= radio_button_tag "category", menuCat.name %>
                      <%= menuCat.name %>
                    </li>
                    <% end %>
                </ul>
                <%= text_field_tag "name", nil, placeholder: "Add Name of Menu", autofocus: true %>
                <%= text_field_tag "description", nil, placeholder: "Add Description" %>
                <%= number_field_tag "price", nil, placeholder: "Add Price" %>
                <%= button_tag "Add" %>
          <% end %>
      </section>
      <section>

      </section>
      <section>
        <% MenuCategory.all.each do |menuCat| %>
          <%= render partial: "menu-Category", locals: {
                       section_title: menuCat.name,
                       menuItem: MenuItem.where(menu_category_id: menuCat.id),
              
                     } %>
        <% end %>
      </section>
</article>
